@mixin gradientSunset {
  background: linear-gradient(#4851FF, #F02AA6);
}

@mixin gradientSunrise {
  background: linear-gradient(#FF6F48, #F02AA6);
}

@mixin heading {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
}

@mixin headingXL {
  @include heading();
  font-size: 56px;
  line-height: 70px;
}

@mixin headingL {
  @include heading();
  font-size: 40px;
  line-height: 51px;
}

@mixin headingM {
  @include heading();
  font-size: 32px;
  line-height: 40px;
}

@mixin headingS {
 @include heading();
 font-size: 24px;
 line-height: 28px; 
}

@mixin bodyM {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

@mixin bodyS {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}

@mixin button {
  width: 167px;
  height: 56px;
  padding: 14px 32px;
  border: none;
  border-radius: 28px;
  @include bodyM();
  color: $white;
}