html,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 1845px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 103px;
  display: flex;
  justify-content: space-between;
}
header .logo {
  margin: 38.75px 165px;
}
header #header-btn {
  width: 167px;
  height: 56px;
  padding: 14px 32px;
  border: none;
  border-radius: 28px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  background-color: #13183F;
  margin: 24px 165px;
}
header #header-btn:hover {
  cursor: pointer;
  background-color: #666CA3;
}

#page-content {
  position: relative;
  width: 1440px;
  height: 1622px;
}

#main-img {
  position: absolute;
  top: -249.13px;
  right: -335.63px;
  z-index: -1;
}

#main-content {
  position: absolute;
  top: 149px;
  left: 165px;
  width: 457px;
  height: 359px;
  display: flex;
  flex-direction: column;
}
#main-content h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 70px;
  margin: 0 0 29px 0;
}
#main-content p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869A;
  margin: 0 12px 40px 0;
}
#main-content button {
  width: 167px;
  height: 56px;
  padding: 14px 32px;
  border: none;
  border-radius: 28px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  background: linear-gradient(#FF6F48, #F02AA6);
  margin: 0;
}
#main-content button:hover {
  cursor: pointer;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.course-full-width {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 888px;
  background: linear-gradient(180deg, #FFFFFF, #F0F1FF);
  display: flex;
  justify-content: center;
}

#course-list {
  width: 1110px;
  height: 748px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.card-container {
  position: relative;
  background-color: #FFFFFF;
  width: 350px;
  height: 322px;
  border-radius: 15px;
}
.card-container .icon {
  position: absolute;
  top: -24px;
  left: 32px;
}
.card-container h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  margin: 64px 0 0 32px;
}
.card-container p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869A;
  margin: 24px 32px;
}
.card-container .link {
  position: absolute;
  left: 32px;
  bottom: 40px;
  color: #F74780;
  margin: 0;
}
.card-container .link:hover {
  color: #FFA7C3;
  cursor: pointer;
}

.card-container.main {
  background: linear-gradient(#FF6F48, #F02AA6);
}
.card-container.main h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  margin: 64px 32px;
}

footer {
  width: 100%;
  height: 120px;
  background-color: #13183F;
  display: flex;
  justify-content: space-between;
}
footer .logo {
  margin: 46px 165px;
}
footer #footer-btn {
  width: 167px;
  height: 56px;
  padding: 14px 32px;
  border: none;
  border-radius: 28px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  background: linear-gradient(#4851FF, #F02AA6);
  margin: 32px 165px;
}
footer #footer-btn:hover {
  cursor: pointer;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}/*# sourceMappingURL=style.css.map */