@import './partials/mixins';
@import './partials/variables';
@import './partials/resets';

body {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 1845px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 103px;
  display: flex;
  justify-content: space-between;
  .logo {
    margin: 38.75px 165px;
  }

  #header-btn {
    @include button;
    background-color: $dark-purple;
    margin: 24px 165px;
  }
  #header-btn:hover {
    cursor: pointer;
    background-color: $light-purple;
  }
}

#page-content {
  position: relative;
  width: 1440px;
  height: 1622px;
}

.image-container {
  position: absolute;
  top: -249.13px;
  right: -335.63px;
  width: 991.63px;
  height: 936.92px;
  z-index: -1;
}

#main-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../assets/image-hero-desktop.png);
}

#main-content {
  position: absolute;
  top: 149px;
  left: 165px;
  width: 457px;
  height: 359px;
  display: flex;
  flex-direction: column;

  h1 {
    @include headingXL;
    margin: 0 0 29px 0;
  }

  p {
    @include bodyM;
    color: $gray;
    margin: 0 12px 40px 0;
  }

  button {
    @include button;
    @include gradientSunrise;
    margin: 0;
  }

  button:hover {
    cursor: pointer;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  }
}

.course-full-width {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 888px;
  background: linear-gradient(180deg, $white, #F0F1FF);
  display: flex;
  justify-content: center;
}

#course-list {
  width: 1110px;
  height: 748px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.card-container {
  position: relative;
  background-color: $white;
  width: 350px;
  height: 322px;
  border-radius: 15px;

  .icon {
    position: absolute;
    top: -24px;
    left: 32px;
  }

  h3 {
    @include headingS;
    margin: 64px 0 0 32px;
  }

  p {
    @include bodyM;
    color: $gray;
    margin: 24px 32px;
  }

  .link {
    position: absolute;
    left: 32px;
    bottom: 40px;
    color: $pink;
    margin: 0;
  }
  .link:hover {
    color: $light-pink;
    cursor: pointer;
  }
}


.card-container.main {
  @include gradientSunrise;

  h2 {
    @include headingM;
    color: $white;
    margin: 64px 32px;
  }
}

footer {
  width: 100%;
  height: 120px;
  background-color: $dark-purple;
  display: flex;
  justify-content: space-between;

  .logo {
    margin: 46px 165px;
  }

  #footer-btn {
    @include button;
    @include gradientSunset;
    margin: 32px 165px;
  }
  #footer-btn:hover {
    cursor: pointer;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
  }
}


@media screen and (max-width: 1248px) {
  .wrapper {
    height: 1760px;
  }

  header {
    .logo {
      margin: 31px 39px;
    }
    #header-btn {
       margin: 24px 40px;
    }
  }

  #page-content {
    width: 768px;
    height: 1543px
  }

  .image-container {
    top: -189.13px;
    right: -297.71px;
    width: 640.71px;
    height: 640px;
  }
  
  #main-img {
    background-image: url(../assets/image-hero-tablet.png);
  }

  #main-content {
    top: 74px;
    left: 39px;
    width: 398px;
    height: 284px;

    h1 {
      @include headingL;
    }
  }

  .course-full-width {
    height: 999px;
  }

  #course-list {
    width: 689px;
    height: 913px;
  }

  .card-container {
    width: 339px;
    height: 259px;
    border-radius: 10px;

    h3 {
      font-size: 20px;
      line-height: 25.2px;
      margin: 56px 0 0 32px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
      margin: 16px 21px 0 32px;
    }

    .link {
      bottom: 32px;
    }
  }

  .card-container.main h2{
    font-size: 24px;
    line-height: 32px;
    margin: 56px 21px 0 32px;
  }

  footer {
    .logo {
      margin: 43px 40px;
    }

    #footer-btn {
      margin: 36px 39px;
    }
  }

}

@media screen and (max-width: 736px) {
  .wrapper {
    height: 2615px;
  }

  header {
    .logo {
      margin: 22px 16px;
    }

    #header-btn {
      font-size: 16px;
      margin: 16px;
      padding: 9px 24px 11px 24px;
      width: 140px;
      height: 48px;
    }
  }

  #page-content {
    width: 375px;
    height: 2438px;
  }

  .image-container {
    top: 331px;
    left: 0;
    width: 100%;
    height: 301px;
  }

  #main-img {
    background-image: url(../assets/image-hero-mobile.png);
  }

  #main-content {
    width: 343px;
    height: 285px;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 16px;
    
    h1 {
      line-height: 50.4px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
    }
  }

  .course-full-width {
    height: 1695px;
  }

  #course-list {
    width: 343px;
    height: 1615px;
  }

  .card-container {
    width: 100%;
    height: 259px;
  }

  .card-container.main {
    height: 120px;
    h2 {
      margin: 24px 29px 32px 28px; 
    }
  }

  footer {
    .logo {
      margin: 43px 16px;
    }

    #footer-btn {
      font-size: 16px;
      margin: 36px 16px;
      padding: 9px 24px 11px 24px;
      width: 140px;
      height: 48px;
    }
  }
}